<div class="icon-chatbot">
    <button type="button">
        <img src="~/client/images/robot.png" />
    </button>
</div>

<form class="box-chatbot" autocomplete="off" method="post">
    <div class="head">
        <p>ChatBox</p>
        <div class="close-box"><i class="fa-solid fa-angle-down"></i></div>
    </div>
    <div class="conversations"></div>
    <div class="form-group">
        <div class="loader-respone"></div>
        <input type="text" name="message" placeholder="Nhập câu hỏi" />
        <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
    </div>
</form>

<div class="overload">
    <div class="loader"></div>
</div>


@section scripts {
    <script>
        $('.box-chatbot').on('submit', function(e) {
            e.preventDefault()
            const formData = new FormData(this)
            const message = formData.get('message')
            if(message.length === 0) return
            const send = `
            <div class="conversation send">
                <div class="content">${message}</div>
                <span><i class="fa-regular fa-circle-user"></i></span>
            </div>`
            const conversations = document.querySelector('.conversations')
            conversations.innerHTML += send
            conversations.scrollTop = conversations.scrollHeight
            this.reset()
            const loading = document.querySelector('.loader-respone')
            loading.classList.add('show')
            $.ajax({
                url: '/Home/Chatbot',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(data) {
                    loading.classList.remove('show')
                    if(data.isSuccessed) {  
                        const html = `
                        <div class="conversation receive">
                            <span><i class="fa-regular fa-comment"></i></span>
                            <div class="content">${data.message}</div>
                        </div>`
                        conversations.innerHTML += html
                        conversations.scrollTop = conversations.scrollHeight
                    }
                },
                error: function(xhr) {
                    loading.classList.remove('show')
                    console.log(xhr.responeText)
                }
            })
        })

        $('.close-box').on('click', function() {
            const box = document.querySelector('.box-chatbot')
            box.classList.remove('show')
        })

        $('.icon-chatbot').on('click', function() {
            const box = document.querySelector('.box-chatbot')
            box.classList.add('show')
            setTimeout(() => {
                box.querySelector('[name="message"]').focus()
            }, 500)
        })
    </script>
}